body {
    padding: 1em;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: 0.3s;
    width: 20em;
    padding: 1em 2em;
    margin: 0.5rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.right {
    float: right;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
}
.button-form {
    display:inline;
    padding-left: 0.5em;
    font-size: 100;
}

.small-rock-image {
    height: 2em;
}
.medium-rock-image {
    height: 5em;
}
.big-rock-image {
    height:10em;
}

.create-button {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0.5em;
    cursor: pointer;
}
